<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>My second web application on cloud : imageGPT by midjourney<h1>
            <form accept="/" method="post">
                <p>Please describe the photo you want : </p>
                <p><input type="text" name="question"></p>
                <p><input type="submit" value="enter"></p>
            </form>
            <p>reply : {{result}}</p>
            <p><img src={{result}}></p>
</body>

</html>